---
// @ts-ignore
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import plotImg from "assets/plot.png";
import midziImg from "assets/simple_img.png";
import json from 'assets/results.json';
import Link from "@components/ui/link.astro";

const lastUpdated = json.history[json.history.length -1].date
const porto = json.porto
let history = json.history.map((x) => x)
history = history.reverse()
---

<div id="start" class="mt-16 md:mt-0">
  <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
    The Result
  </h2>
  <p>
    <Picture src={plotImg}
      widths={[600, 800, 1000]}
      aspectRatio="7:3"/>
  </p>
  <p class="text-lg mt-4 text-slate-600">
    As I stated before, This is just for research purpose only. I don't recommend people to follow the bot's actions as this is not a financial advisor.
    So, please do your own research.
  </p>
</div>

<div class="mt-16 gap-16">
  <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
    Current Portfolio
  </h2>
  <p class="text-slate-400">Last update {lastUpdated}</p>
  <br/>
  <div class="flex flex-wrap gap-8">
    {
      porto.map((item) => (
      <Link
       style="outline"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        {item}
      </Link>
      ))
    }
  </div>
</div>

<div class="mt-16 gap-16">
  <h2 class="text-2xl lg:text-3xl font-bold lg:tracking-tight">
    Actions
  </h2>
  <p>
    <br/>These are the action from the bot since Early Jan 2022 until the end of observation. Please don't use this as your reference on trading, since we ourselves still
    trying to learn on how the bot decides to do that particular action. Explainable AI is one another topic that we want to pursue.
  </p>
  <br/>
  <br/>
  <style>
    input[id^="spoiler"]{
 display: none;
}
input[id^="spoiler"] + label {
  display: block;
  width: 300px;
  margin: 0 auto;
  padding: 5px 20px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all .6s;
}
input[id^="spoiler"]:checked + label {
  color: #333;
  background: #ccc;
}
input[id^="spoiler"] ~ .spoiler {
  width: 90%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 10px auto 0; 
  padding: 10px; 
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all .6s;
}
input[id^="spoiler"]:checked + label + .spoiler{
  height: auto;
  opacity: 1;
  padding: 10px;
}

  </style>

  <input type="checkbox"  id="spoiler2" /> 
  <label for="spoiler2" >Click for list of actions</label>

  <div class="grid grid-cols-6 spoiler">
    <div class="col-span-2">Date<br/></div>
    <div class="col-span-4">Actions</div>
    {
      history.map((item) => (
        <div class="col-span-2">
          {item.date}
          <br/>
          <br/>
        </div>
        <div class="col-span-4">
          {
            item.actions.join(", ")
          }
        </div>
      ))
    }
  </div>

  <div  class="mt-16 gap-16">
    If you are interested on how we build this bot, please read my article here at ...
  </div>

</div>

<div class="mt-16 gap-16">
  <h2 class="text-center text-2xl lg:text-3xl font-bold lg:tracking-tight">
    The Team
  </h2>
</div>

<div class="grid sm:grid-cols-5 md:grid-cols-5 mt-16 gap-16">
  <div> 
  </div>
  <div> 
  </div>
  <div class="flex gap-4 items-start">
    <div class="text-center">
      <Picture src={midziImg}
        widths={[600, 800, 1000]}
        aspectRatio="1:1"/>
      <a href="https://id.linkedin.com/in/tirmidzi-aflahi-47827b1b" target="_blank" rel="noopener">
        <h3 class="font-semibold text-lg">Tirmidzi Aflahi</h3></a>
      
      <p class="text-slate-500 mt-2 leading-relaxed">SVP of Tech at Finku</p>
      <p class="text-slate-500 mt-2 leading-relaxed">ex Ajaib, Tokopedia</p>
    </div>
  </div>
</div>
